body{
    margin: 0;
    padding: 0;
    background-color: black;
    color:white;
    text-align:center;
    overflow-y: scroll;
    overflow-x: hidden;
}

img{
    width: 10vw;
    height: 10vw;
}

a{
    color: white;
    text-decoration: none; 
}

button{
    width: 13vw;
    height: 20px;
    margin: 3px;
    background-color: #66dd66;
    border: none;
}

button:hover, img:hover{
    cursor: pointer;
}

.turnedOff{
    background-color: #773333;
}

.turnedOn{
    background-color: #337733;
}

.invisible{
    visibility: hidden;
}

.shortText{
    display: none;
}

/* DivTable.com */
.divTable{
	display: table;
	width: 95%;
	margin:auto;
    padding-bottom:2.5vw;
}
.divTableRow {
	display: table-row;
}
.divTableCell {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
    vertical-align: middle;
    font-size: 20px;
}
.divTableHeading {
	font-weight: bold;
    font-size: 16px;
}
.divTableBody {
	display: table-row-group;
}

@media only screen and (max-width: 900px) {
    h1{
        margin-top: 10px;
        margin-bottom:12px;
    }
    .divTableCell {
        padding: 2px 3px;
        font-size: 13px;
    }
    .divTableHeading {
        font-size: 13px;
    }
    button{
        font-size: 10px;
    }
    img{
        width: 8vw;
        height: 8vw;
    }
    .fullText{
        display: none;
    }
    .shortText{
        display: unset;
    }
    body{
        width: 110%;
        height: 110%;
        transform-origin: top left;
        transform: scale(91%); 
        margin-bottom: -999%;
    }
}

@media only screen and (max-width: 520px) {
    h1{
        margin-top: 8px;
        margin-bottom:10px;
    }
    .divTableCell {
        font-size: 12px;
    }
    .divTableHeading {
        font-size: 12px;
    }
    button{
        width: 15.5vw;
        margin: 2px;
    }
    body{
        width: 116%;
        height: 116%;
        transform-origin: top left;
        transform: scale(86%); 
    }
}
